#content{
    width: 100%;
    display: flex;
    justify-content: center;
}

#content-body{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}

/* 面包屑导航 */
#content-header{
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
}

.breadcrumb{
    background-color: #ffffff;
    margin-bottom: 0;
}

/* 内容列表 */
#content-article{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.items{
    height: 401px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.items-box{
    border: 1px solid #f5f5f5;
    height: 100%;    
}

.items-img{
    width: 100%;
    height: 160px;
    background-color: bisque;
}



.items-name-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    height: 39px;
    text-align: center;
}

.items-name-box p{
    margin-bottom: 0;
}

.items-message-box{
    padding-left: 15px;
    padding-right: 15px;
    height: 140px;
    border-bottom: 1px solid #f5f5f5;
}

.items-price-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    height: 34px;
}

.items-seller{
    font-size: 5px;
}

.items-a{
    display: block;
}