*{
    padding: 0;
    border: 0;
    margin: 0;
}

a{
    
}

/* book居中 */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../source/img/bg.jpg);
}

#wrapper{
    position: relative;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#book{
    position: relative;
    width: 80%;
    height: 800px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background-color: beige;
}

/* header */
header{
    background-color: antiquewhite;
    position: relative;
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    height: 50px;
}

#logo{
    position: absolute;
    top:50%;
    margin-top:-20px;
    left: 30px;
    width: 40px;
    height: 40px;
}

#search{
    position: absolute;
    right: 40px;
}

/* content */
#content{  
    position: relative;
    widows: 100%;
    height: 750px;
}

#content aside{
    position: relative;
    float: left;
    height: 100%;
    width:5%;   
}

article{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 95%;
}

/* aside */
aside{
    position: relative;
    text-align: center;
    background-color: bisque;
    border-radius:0 0 0 20px;
}

aside ul{
    margin-bottom: 0;
}

aside ul li{
    position: relative;
    list-style: none;
    list-style-type: none;
    margin-top:40px;
}

#index{
    position: relative;
    display: inline-block;
    padding-top: 10px;
}

#market-label{
    padding-top: 40px;
    display: inline-block;
}

#school-label{
    position: relative;
    display: inline-block;
    margin-top: 40px;
}

#about{
    position: relative;
    display: inline-block;
    margin-top: 40px;
}

#user-panel{
    position: relative;
    display: inline-block;
    width: 10%;
}

#user-img{
    position: relative;
    left: 50%;
    margin-left: -25px;
    height: 50px;
    width: 50px;
}