*{
    padding: 0;
    border: 0;
    margin: 0;
}

ul{
    margin-bottom: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #000000;
}

a:focus{
    text-decoration: none;
}

.dropdown-toggle .btn-default{
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    z-index: 16 !important;
}

.now-page{
    color: #55328b;
    font-weight: bold;
}


/* header */
/* 大于1200px的屏幕 */
@media (min-width: 1200px){
    #nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border: 0;
        /* 注意这里整合了一个高度，不知道哪来的 */
        margin-bottom: 0;
        border-radius: 0;
        z-index: 1;
    }
    #nav-container-body{
        position: fixed;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e7e7e7;
        width: 100%;
        z-index: 1;
        background-color: #ffffff;
    }

    #header-ul{
        position: relative;
    }

    #nav-container{
        width: 60%;
    }    
}
@media (max-width: 1200px) {
    #nav{
        background-color: #ffffff;
        border: 0;
        margin-bottom: 0;
        border-bottom: 1px solid #f5f5f5;
        border-radius: 0;
        z-index: 18;
        margin-bottom: 0;
    }
    #nav-container-body{
        position: fixed;
        width: 100%;
        z-index: 18;
        background-color: #ffffff;
        border-bottom: 2px solid #f5f5f5;    
    }
    #navbar-collapse{
        border-bottom: 2px solid #f5f5f5;
    }
    #navbar-header{
        width: 100%;
    }
    #header-ul{
        position: relative;
    }
}

/* footer部分 */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-content{
    width: 60%; 
}

#footer-article{
    width: 100%;
    border-top: 1px;
    border-style: solid;
    border-color: rgb(244, 244, 244);
}

#footer-wx img{
    height: 128px;
    width: 128px;
}

#footer-wx-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-icp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18%;
    width: 100%;    
    color: #999;
    font-size: 12px;
}

/* 浮动小人 */
.spig {
	display: block;
	width: 130px;
	height: 170px;
	position: absolute;
	bottom: 300px;
	left: 160px;
	z-index: 9999;
}
#message {
	line-height:170%;
	color: #191919;
	border: 1px solid #c4c4c4;
	background: #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	min-height: 1em;
	padding: 5px;
	top: -45px;
	position: absolute;
	text-align: center;
	width: auto !important;
	z-index: 10000;
	-moz-box-shadow: 0 0 15px #eeeeee;
	-webkit-box-shadow: 0 0 15px #eeeeee;
	border-color: #eeeeee;
	box-shadow: 0 0 15px #eeeeee;
	outline: none;
}
.mumu {
	width: 130px;
	height: 170px;
	cursor: move;
	background: url("../source/img/cute.png") no-repeat;
} 

/* login样式 */
/* .do-success{
    background-color: #419641 !important;
} */

/* UE鼠标样式 */
.pointer{
    cursor: pointer;
}