#content{
    width: 100%;
    display: flex;
    justify-content: center;
}

#content-body{
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}

/* 面包屑导航 */
#content-header{
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f5f5f5;
}

.breadcrumb{
    background-color: #ffffff;
    margin-bottom: 0;
}

.items-img{
    height: 256px;
    width: 256px;
    margin: 0;
}

.items-box{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.items-box h4{
    text-align: center;
}

.items-message{
    height: 60px;
}

.items-details{
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f5f5f5;
    margin-bottom: 0;
    padding-left: 9px;
    padding-right: 9px;
}
